# MONGODB_URI=YOUR DATA BASE URL
# NEXTAUTH_URL=http://localhost:3000
# NEXTAUTH_SECRET=YOUR NEXT AUTH SECRET
# EMAIL_SERVER_HOST=smtp.gmail.com
# EMAIL_SERVER_PORT=587
# SMTP_USER=YOUR@gmail.com
# EMAIL_SERVER_PASSWORD=YOUR PASSWORD
# SMTP_FROM=YOUR@gmail.com
# CLOUDINARY_CLOUD_NAME=YOUR CLOUD NAME
# CLOUDINARY_API_KEY=YOUR CLOUDINARY_API_KEY
# CLOUDINARY_API_SECRET=YOUR CLOUDINARY_API_SECRET
# GOOGLE_CLIENT_ID=YOUR GOOGLE_CLIENT_ID
# GOOGLE_CLIENT_SECRET=YOUR GOOGLE_CLIENT_SECRET
# RESEND_API_KEY=YOUR RESEND_API_KEY
# CONTACT_RECEIVER_EMAIL=YOUR@email.com